<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/assets/css/login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title> 
    <link rel="stylesheet" href="style.css">
   </head>
<body>
  <div class="wrapper">
    <h2>Login</h2>
    <form id="loginform">
      <div class="input-box">
        <input type="text" name="username" placeholder="Enter your first name" required>
      </div>
      <div class="input-box">
        <input type="password" name="password" placeholder="Enter your last name" required>
      </div>
      <div class="input-box button">
        <input type="Submit" value="login">
      </div>
      <div class="text">
        <h3>Don't have an account? <a href="/">Register</a></h3>
      </div>
    </form>
  </div>
</body>
<script src="/assets/script/login.script.js"></script>
</html>
