<!DOCTYPE html>
<html lang="en">
  <head>
   <link rel="stylesheet" href="/assets/css/register.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter | Registration</title> 
    <link rel="stylesheet" href="style.css">
   </head>
<body>
  <div class="wrapper">
    <h2>Registration</h2>
    <form id="myForm">
      <div class="input-box">
        <input type="text" name="fname" placeholder="Enter your first name" required>
      </div>
      <div class="input-box">
        <input type="text" name="lname" placeholder="Enter your last name" required>
      </div>
      <div class="input-box">
        <input type="text" name="email" placeholder="Enter your email" required>
      </div>
      <div class="input-box">
        <input type="text" name="phonenumber" placeholder="Enter your phonenumber" required>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Register Now">
      </div>
      <div class="text">
        <h3>Already have an account? <a href="/login">Login now</a></h3>
      </div>
    </form>
  </div>
</body>
<script src="/assets/script/register.script.js"></script>
</html>